<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Actualizar datos</h1>  
    <form action={% url "editarUsuarios" %} method="post">
        {% csrf_token %}
	    username:     <input type="text" name="username" value="{{usuario.username}}"><br>
        email:  <input type="text" name="email" value="{{usuario.email}}"><br>
		nombre:    <input type="text" name="nombre" value="{{usuario.nombre}}"><br>
        apellido: <input type="text" name="apellido" value="{{usuario.apellido}}">
       

        <input type="submit" name="opcion" value="Actualizar">
		<input type="submit" name="opcion" value="Volver">
		
		<br>
    </form>



    <div id="idMensajes">

        {% if mensaje%}
           {{mensaje}}
        
        {% endif %}   
    </div>
</body>
</html>